/* DACA NU MERGE STICKY -> FIXED + MARGIN */
/* #contact-body {
	margin-top: 130px;
} */

.contact-header h1 {
	text-align: center;
	padding: 20px;
	margin-top: 60px;
	font-size: 72px;
	margin-bottom: 15px;
	font-weight: bolder;
	color: #0f2027;
}

.contact-header span {
	color: rgba(0, 128, 128, 0.8);
}

.contact-header p {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}

.contact-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 100px auto 50px auto;
	max-width: 900px;
	height: auto;
}

.contact-wrapper .contact-card {
	background: #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	height: 600px;
	width: 300px;
	position: relative;
	-webkit-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
}

.contact-card .profile-bg {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: url(../img/bg2.jpg);
	background-position: center;
	background-size: cover;
	height: 260px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
}
#member1 {
	background-image: url(../img/profile1.jpg);
}

#member2 {
	background-image: url(../img/man.jpg);
}

.contact-card .profile-img {
	background-position: center;
	background-size: cover;
	height: 180px;
	width: 180px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #f4f4f4;
	position: absolute;
	top: 18%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.contact-details h3 {
	color: #0f2027;
	text-align: center;
	margin-top: 50px;
	font-weight: 600;
}

.contact-details img.country {
	display: block;
	height: 30px;
	width: 30px;
	margin: auto;
}

.contact-details .email-img,
.phone-img {
	margin-right: 15px;
	display: block;
	height: 30px;
	width: 30px;
}

.contact-details p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 70px;
}

.contact-details .email a {
	text-decoration: none;
	color: #0f2027;
	font-weight: 600;
}

.contact-details .phone a {
	text-decoration: none;
	color: #0f2027;
	font-weight: 600;
}

.contact-details .phone-button,
.email-button {
	margin: auto;
	width: 200px;
	display: flex;
	align-items: center;
}

@media (max-width: 500px) {
	.contact-header h1 {
		margin-top: 40px !important;
		width: 280px !important;
		font-size: 48px !important;
	}

	.contact-header p {
		font-weight: normal;
		width: 250px;
		text-align: center;
		margin: auto;
		font-size: 16px !important;
		padding: 3px;
	}

	.contact-card {
		width: 250px;
	}

	.contact-details h3 {
		font-size: 20px;
	}

	.contact-details p {
		font-size: 13px;
	}

	.contact-card .profile-img {
		width: 150px;
		height: 150px;
	}

	.contact-card .profile-bg {
		height: 240px;
	}

	.phone-button span,
	.email-button span {
		font-size: 12px;
	}

	.contact-details .email-img,
	.phone-img {
		height: 35px;
		width: 35px;
	}
}

@media (min-width: 501) and (max-width: 568px) {
	.contact-.contact-header {
		padding: 5px;
	}

	.contact-box {
		margin-top: 50px;
	}
}

@media (max-width: 720px) {
	.contact-wrapper {
		display: grid;
		grid-template-columns: 1fr;
	}

	.contact-card {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	.contact-card .contact-details .email-button {
		margin-bottom: 10px;
	}
}

@media (max-width: 965px) {
	.contact-header h1 {
		width: 400px;
		text-align: center;
		margin: 60px auto auto auto;
		font-size: 60px;
	}

	.contact-header p {
		font-size: 18px;
	}
}
