.gallery-page {
  position: relative;
}

.gallery-intro {
  position: relative;
  min-height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #134e5e;
  background: -webkit-linear-gradient(315deg, #71b280, #134e5e);
  background: linear-gradient(315deg, #71b280, #134e5e);
}

.gallery-intro h1 {
  text-align: center;
  padding: 30px 40px 30px 40px;
  font-size: 60px;
  border: 2px solid white;
  letter-spacing: 8px;
  color: white;
}

.gallery-intro .scroll-down {
  position: absolute;
  bottom: 30px;
  animation: MoveUpDown 0.8s linear infinite;
  animation-delay: 0.7s;
}

.gallery-intro .scroll-down img {
  height: 35px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 30px;
  }
  50% {
    bottom: 45px;
  }
}

.gallery-intro #galerie {
  position: absolute;
  bottom: 70px;
}

.gallery-body {
  /* width: 95%; */
  height: 100%;
  margin: auto;
  /* padding-top: 100px; */
  /* padding-bottom: 100px; */
}

.gallery-body img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: 0.3s ease opacity;
}

.gallery-body .img-wrapper {
  position: relative;
  padding: 0;
}

.img-wrapper .border-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.position1 {
  height: 350px;
}

.position2 {
  height: 700px;
}

.border-layer .inside-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: 3;
  transition: 0.3s ease all;
}

.border-layer .inside-layer:hover {
  height: 310px;
  width: calc(100% - 40px);
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease all;
}

.border-layer .inside-layer:hover.layer-high:hover {
  height: 660px;
}

.inside-layer .fullscreen-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  opacity: 0;
  top: 10%;
  right: 5px;
  /* top: 50%;
    left: 50%; */
  transform: translate(-50%, -50%);
}

.inside-layer .fullscreen-btn-high {
  position: absolute;
  height: 20px;
  width: 20px;
  opacity: 0;
  top: 5%;
  right: 5px;
  transform: translate(-50%, -50%);
}

.inside-layer:hover .fullscreen-btn,
.inside-layer:hover .fullscreen-btn-high {
  transition: 0.8s ease opacity;
  opacity: 1;
}

.gallery-header {
  padding-top: 120px;
  padding-bottom: 50px;
}

.gallery-header h1 {
  padding: 21px 30px 5px 30px;
  text-align: center;
  font-size: 72px;
  margin: 0px;
  font-weight: 600;
  background: -webkit-linear-gradient(bottom, #0f2027, #45819b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-header-line {
  height: 1px;
  width: 350px;
  background: #0f2027;
  margin: auto;
}

@media (max-width: 1150px) {
  .gallery-intro h1 {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .gallery-intro h1 {
    font-size: 20px;
    padding: 20px;
    letter-spacing: 5px;
  }
}

@media (max-width: 501px) {
  /* .img-wrapper .border-layer {
    -webkit-box-shadow: inset 0px 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 0px 0px 12px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 0px 12px rgba(0, 0, 0, 0.4);
  } */

  .gallery-header-line {
    width: 150px;
  }

  .gallery-header {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .gallery-header h1 {
    font-size: 32px;
  }

  .position1 {
    height: 250px;
  }
  .position2 {
    height: 500px;
  }
  .border-layer .inside-layer:hover,
  .border-layer .inside-layer:hover.layer-high:hover {
    height: 100%;
    width: 100%;
  }
}
