/* ------------------ Home Body ------------------ */
main {
	height: 100%;
}

.home-body {
	position: relative;
	height: 100%;
}

/* ------------------------------------------------------ */


/* ------------------ Scroll Up Home Btn ------------------ */
.scroll-home {
	height: 45px;
	width: 45px;
	cursor: pointer;
	position: absolute;
	right: 3%;
	bottom: 3%;
	border-radius: 50%;
	border: 2px #f4f4f4 solid;
}

/* ------------------------------------------------------ */

/* -------------------- Modal Stuff --------------------- */

.ferdi-modal-header {
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
}

h2.ferdi-modal-header-text {
	text-align: center;
	padding: 25px 20px 0px 20px;
	color: #0f2027;
}

.ferdi-modal-body {
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	padding: 50px;
}

img.ferdi-modal-logo {
	-webkit-box-shadow: 4px 5px 15px -1px #000000; 
	box-shadow: 4px 5px 15px -1px #000000;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.ferdi-modal-logo-loader {
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #AA9B91;
}

.ferdi-modal-footer {
	border-top: 1px solid #0f2027;
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ferdi-accept-btn {
	padding: 10px 40px;
	border: 2px solid #0f2027;
	border-radius: 5px;
	background-color: #0f2027;
	color: #f4f4f4;
	font-weight: bold;
	transition: ease 0.3s opacity;	
}

.ferdi-accept-btn:focus {
	outline: none;
}

.ferdi-accept-btn:hover {
	opacity: 0.9;
	transition: ease 0.3s opacity;	
}


/* ------------------------------------------------------ */

/* ------------------ Section Images + Section Texts + Logo ------------------ */

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-position-x: 50%;
	background-position-y: 0%;
}  

.ferdi-center-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.85;
	transform: translate(-50%, -50%);
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

#home-logo {
	transform: translate(-50%, -50%);
	height: 255px;
	width: 255px;
	border-radius: 50%;
}

.logo-loader {
	height: 255px;
	width: 255px;
	background-color: #AA9B91;
	opacity: 0.6;
}

.pimg1 .scroll-icon {
	height: 55px;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
}

.section-text1 p {
	display: inline-block;
	width: 80%;
	font-size: 18px;
}

.section-text2 p {
	display: inline-block;
	width: 80%;
	font-size: 18px;
}

.section-text3 p {
	display: inline-block;
	width: 80%;
	font-size: 18px;
} 

.pimg1 {
	background-image: url("../img/poza_vita.jpg");
	opacity: 0.95;
	min-height: 100vh;
}

.pimg2 {
	background-image: url("../img/strg.jpg");
	min-height: 600px;
	width: 80%;
	margin: auto;
}

.pimg3 {
	background-image: url("../img/bottles2.jpg");
	min-height: 600px;
	width: 80%;
	margin: auto;
}

.pimg4 {
	background-image: url("../img/winebox.jpg");
	min-height: 700px;
	position: relative;
	/* opacity: 0.8; */
	width: 80%;
	margin: auto;
	margin-bottom: 60px;
}

.section {
	text-align: center;
	font-size: 16px;
	line-height: 1.8;
	padding: 50px 120px;
}

.section h2 {
	margin-bottom: 50px;
	font-size: 35px;
	font-weight: 600;
}

.section-light {
	background: #f4f4f4;
	color: #0f2027;
	font-weight: 600;
}

.section-dark {
	background-color: #0f2027;
	color: #f4f4f4;
}

.productionLogos img {
	width: 80px;
	margin-right: 5px;
}

.productionLogos {
	margin-bottom: 30px;
}

/* ------------------------------------------------------------------------ */


/* ------------------ Media queries ------------------ */


@media (max-width: 900px) {
	.section {
		font-size: 0.9rem;
		line-height: 1.9;
		padding: 30px 30px;
	}
	.section-text3 p, .section-text2 p, .section-text1 p {
		font-size: 14px;
	}
	.pimg1,
	.pimg2,
	.pimg3,
	.pimg4 {
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	#home-logo {
		width: 200px;
		height: 200px;
	}

}

@media (max-width: 600px) {
	.section-text3 p, .section-text2 p, .section-text1 p {
		font-size: 12px;
	}

	.section {
		padding: 25px 10px;
	}
	.productionLogos img {
		width: 60px;
		margin-right: 5px;
	}
}

@media (max-width: 568px) {
	.logo-loader {
		height: 180px;
		width: 180px;
	}
	.ferdi-navbar .nav-link {
		font-size: 14px;
	}

	#home-logo {
		width: 180px;
		height: 180px;
	}
	.pimg1,
	.pimg2,
	.pimg3,
	.pimg4 {
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.pimg2,
	.pimg3,
	.pimg4 {
		min-height: 300px !important;
	}

	/* .scroll-home {
		height: 35px;
		width: 35px;
	} */
}

/* ------------------------------------------------------ */