/* DACA NU MERGE STICKY -> FIXED + MARGIN */
main {
	height: 100%;
}

.home-body {
	position: relative;
	height: 100%;
}

.scroll-home {
	height: 45px;
	width: 45px;
	cursor: pointer;
	position: absolute;
	right: 3%;
	bottom: 3%;
	border-radius: 50%;
	border: 2px #f4f4f4 solid;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-position-x: 50%;
	background-position-y: 0%;
}

.ptext {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.8;
	transform: translate(-50%, -50%);
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

#home-logo {
	transform: translate(-50%, -50%);
	height: 255px;
	width: 255px;
	border-radius: 50%;
}

.logo-loader {
	height: 255px;
	width: 255px;
}

.pimg1 .scroll-icon {
	height: 55px;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
}

.ptext .border:hover {
	cursor: pointer;
	transition: ease 0.25s;
}

.ptext .border {
	background-color: #0f2027;
	color: #fff;
	text-align: center;
	padding: 20px 25px;
}

.ptext .border.trans {
	background-color: #f4f4f4;
	border: 1px #0f2027 solid !important;
	color: #0f2027;
}

.section-text1 p {
	display: inline-block;
	width: 80%;
	font-size: 18px;
}

.section-text2 p {
	display: inline-block;
	width: 80%;
	font-size: 18px;
}

.section-text3 p {
	display: inline-block;
	width: 80%;
	font-size: 18px;
} 

.pimg1 {
	background-image: url("../img/t4.jpg");
	min-height: 100vh;
}

.pimg2 {
	background-image: url("../img/strg2.jpg");
	min-height: 600px;
}

.pimg3 {
	background-image: url("../img/butoaie.jpg");
	min-height: 600px;
}

.pimg4 {
	background-image: url("../img/corks.png");
	min-height: 500px;
	position: relative;
	opacity: 0.8;
}

.section {
	text-align: center;
	font-size: 16px;
	line-height: 1.8;
	padding: 50px 120px;
}

.section h2 {
	margin-bottom: 50px;
	font-size: 35px;
	font-weight: 600;
}

.section-light {
	background: #f4f4f4;
	color: #0f2027;
	font-weight: 600;
}

.section-dark {
	background-color: #0f2027;
	color: #f4f4f4;
}

.productionLogos img {
	width: 80px;
	margin-right: 5px;
}
.productionLogos {
	margin-bottom: 30px;
}

@media (max-width: 568px) {
	.logo-loader {
		height: 180px;
		width: 180px;
	}
	.ferdi-navbar .nav-link {
		font-size: 14px;
	}

	#home-logo {
		width: 180px;
		height: 180px;
	}
	.pimg1,
	.pimg2,
	.pimg3,
	.pimg4 {
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.pimg2,
	.pimg3,
	.pimg4 {
		min-height: 300px !important;
	}

	/* .scroll-home {
		height: 35px;
		width: 35px;
	} */
}



@media (max-width: 900px) {
	.section {
		font-size: 0.9rem;
		line-height: 1.9;
		padding: 30px 30px;
	}
	.section-text3 p, .section-text2 p, .section-text1 p {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	.ptext {
		font-size: 12px;
		letter-spacing: 1px;
	}

	.section-text3 p, .section-text2 p, .section-text1 p {
		font-size: 12px;
	}

	.section {
		padding: 25px 0px;
	}
	.productionLogos img {
		width: 60px;
		margin-right: 5px;
	}
}