/*------------------ Hide classes ------------------*/

.disable-nav-link {
  pointer-events: none;
}

.hide-home {
  visibility: hidden;
  height: 100vh;
}

.hide-element {
  display: none;
}

.hide-confModal {
  display: none;
}

.hide-nav {
  display: none;
}

.hidden{
  visibility: hidden;
}

/* ------------------------------------------------------ */

/* ----------------- Loading --------------- */
.loading-body {
  min-height: 100vh;
  position: relative;
}


/* ------------------------------------------------------ */

/* ---------------------- Logo Navbar ------------------- */

.logo-navbar {
  height: 35px;
  margin-right: 10px;
}

/* ------------------------------------------------------ */


/*------------------ Scrollbar customization ------------------ */
::-webkit-scrollbar
{
	width: 12px;
	background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb
{
    background: #0F2027;  
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
    border-top: 7px #f4f4f4 solid;
    border-bottom: 7px #f4f4f4 solid;
}

::-webkit-scrollbar-button:single-button {
  background-color: #f4f4f4;
  display: block;
  border-style: solid;
  height: 12px;
  width: 12px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #0F2027 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #2193b0 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 6px 6px 0 6px;
  border-color: #0F2027 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #2193b0 transparent transparent transparent;
}

/* ------------------------------------------------------  */

/*------------------ Confirm age modal ------------------*/

#confirmModal {
  height: 100vh;
}

.red-header {
 color: indianred;
 position: relative;
 font-weight: 600;
 -webkit-animation: text-focus-in 0.3s ease;
 animation: text-focus-in 0.3s ease;
 
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.modalBackground {
  height: 100vh;
  opacity: 0.8;
  background-image: url("../img/poza_vita.jpg");
  background-position: center;
  background-size: cover;
}

.confirmModal img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: 20px;
}

.confirmModal {
  border: 5px white solid;
  -webkit-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 50px 70px;
  height: 450px;
  width: 600px;
  color: white;
  border-radius: 7px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.ageConfirm,
.ageDeny {
  transition: ease-in 0.2s all;
  font-size: 18px;
  color: white;
  width: 150px;
  padding: 12px 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.ageConfirm {
  background: #45a247b3;
  margin-right: 70px;
  border: 2px solid #45a247b3;
}

.ageDeny {
  background-color: #93291eb3;
  border: 2px solid #93291eb3;
}

.ageConfirm:hover {
  background: #45a247;
  border: 2px white solid;
}

.ageDeny:hover {
  background-color: #93291e;
  border: 2px white solid;
}

.ageConfirm:focus,
.ageDeny:focus {
  outline: none;
}

.modalLogoLoader {
  width: 180px;
  height: 180px;
  margin-top: 20px;
}

.confirmButtons {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------ */

/* ----------------- Scroll btn --------------- */
.back-to-top-btn {
  position: fixed;
  z-index: 999;
  height: 35px;
  top: 93%;
  right: -50px;
  transition: ease 0.3s right;
}

.show-home-sroll-btn {
  right: 30px;
}

/*------------------ Navbar ------------------*/

.ferdi-navbar {
  background-color: #0f2027 !important;
  border-bottom: 4px solid rgb(0, 143, 143);
  overflow: hidden;
}

.ferdi-navbar * {
  color: #f4f4f4 !important;
  font-size: 16px;
}

#ferdi-toggler {
  border: none !important;
}

#ferdi-toggler:hover .ferdi-bar {
  background-color: #b3b3b3;
}

#ferdi-toggler .ferdi-bar {
  display: block;
  margin: 5px 0;
  height: 2px;
  background-color: #f4f4f4 !important;
  transition: ease background-color 0.4s;
}

#ferdi-toggler #bar1 {
  transition: 0.4s all ease;
  margin-left: auto;
  width: 22px;
}

#ferdi-toggler #bar2 {
  transition: 0.4s all ease;
  margin-left: auto;
  width: 25px;
}

#ferdi-toggler #bar3 {
  transition: 0.4s all ease;
  margin-left: auto;
  width: 16px;
}

#bar3.hidden {
  transform: translateX(80px);
}

#bar1.rotate1 {
  width: 25px !important;
  transform: rotate(315deg) translate(-7px, 5px);
}

#bar2.rotate2 {
  transform: rotate(-315deg) translate(1px, 2px);
}

.ferdi-navbar .nav-link {
  position: relative;
}

.ferdi-navbar .link1::after,
.ferdi-navbar .link2::after,
.ferdi-navbar .link3::after,
.ferdi-navbar .link4::after  {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 51%;
  width: 0;
  height: 2px;
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
  background: linear-gradient(to left, #eef2f3, #8e9eab);

  transition: all 0.2s ease;
}

.ferdi-navbar .link1:hover::after,
.ferdi-navbar .link2:hover::after,
.ferdi-navbar .link3:hover::after,
.ferdi-navbar .link4:hover::after {
  width: 100%;
  left: 0%;
}

.ferdi-navbar .navbar-brand {
  font-size: 18px;
}

.ferdi-navbar .navbar-toggler:focus {
  outline: none !important;
}

/* ------------------------------------------------------ */

/*------------------ Footer ------------------*/

.footer {
  background: #0f2027;
  padding: 30px 0;
  position: relative;
}

.footer h4 {
  color: #f4f4f4;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer .footer-link {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 14px;
  width: 80px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer .footer-links {
  width: 120px;
  margin: auto;
}

.footer .footer-link::after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 51%;
  width: 0;
  height: 2px;
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
  background: linear-gradient(to left, #eef2f3, #8e9eab);
  transition: all 0.2s ease;
}

.footer .footer-link:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
}

.footer .footer-link:hover::after{
  width: 100%;
  left: 0%;
}

.footer .social-media-btns{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  left: 20px;
  bottom: 25px;
}

.footer .ig-logo {
  margin-left: 20px;
}

.footer .fb-logo > img,
.footer .ig-logo > img {
  width: 24px;
  height: 24px;
  transition: all 0.2s linear;
}
.footer .fb-logo > img:hover,
.footer .ig-logo > img:hover {
  transition: all 0.2s linear;
  transform: scale(1.3);
}

/* ------------------------------------------------------ */

/*------------------ 404 Page ------------------*/
.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.not-found h1 {
  margin-top: 120px;
  text-align: center;
  font-weight: 800;
}

.not-found h2 {
  text-align: center;
}

.not-found .logo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url("../img/logo.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  margin-top: 50px;
  -webkit-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
}

.not-found .btn-404 {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  color: #f4f4f4;
  border-radius: 20px;
  border: 2px#1b262c solid;
  background-color: #1b262c;
  width: 110px;
  padding: 7px 0px;
  text-align: center;
}

.not-found .btn-404:hover {
  background-color: #f4f4f4;
  border: 2px solid #1b262c;
  font-weight: 600;
  color: #1b262c;
}

/* ------------------------------------------------------ */

/*------------------ Switch Language Button ------------------*/
/* .switch-lg {
	color: #000;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 5px;
	border-radius: 7px;
	position: absolute;
	top: 100px;
	z-index: 1;
	right: 2%;
}
.switch-lg img {
	height: 15px;
}
.switch-lg .ro-lg {
	margin-left: 6px;
	color: #000;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
.switch-lg .ro-lg:hover {
	color: #62a9c7;
}
.switch-lg .en-lg {
	color: #000;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
.switch-lg .en-lg:hover {
	color: #62a9c7;
}
.lg-active {
	pointer-events: none;
	cursor: default;
} */

/* ------------------------------------------------------ */

/*------------------ Media queries ------------------*/
@media (max-width: 1600px) {
  .confirmModal {
    height: 350px;
    width: 550px;
  }

  .confirmModal img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .confirmModal h2 {
    font-size: 22px;
  }
  .not-found h1 {
    margin-top: 80px;
  }
}

@media (max-width: 992px) {
  .not-found {
    height: 100vh;
  }
  .ferdi-navbar .nav-link:first-of-type {
    width: 55px;
  }
  .ferdi-navbar .nav-link:nth-child(2) {
    width: 55px;
  }
  .ferdi-navbar .nav-link:nth-child(3) {
    width: 160px;
  }
  .ferdi-navbar .nav-link:nth-child(4){
    width: 60px;
  }
}

@media (max-width: 568px) {
  .back-to-top-btn {
    height: 40px;
    top: 91%;
    /* right: 4px; */
  }
  .show-home-sroll-btn {
    right: 10px;
  }
  .ferdi-navbar .nav-link {
    font-size: 14px;
  }
  .confirmModal {
    height: 440px;
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .confirmModal img {
    width: 150px;
    height: 150px;
    margin-top: 22px;
    margin-bottom: 60px;
  }

  .confirmModal h2 {
    font-size: 20px;
    padding: 0 30px;
  }

  .confirmModal .ageConfirm {
    margin-right: 30px;
  }
  .confirmModal .confirmButtons {
    bottom: 5%;
  }

  .confirmModal .ageConfirm,
  .confirmModal .ageDeny {
    width: 100px;
    font-size: 15px;
    color: white;
    padding: 7px 25px;
  }
}

@media (max-width: 500px) {
  .switch-lg {
    top: 80px;
  }
  .not-found h1 {
    font-size: 22px;
  }

  .not-found h2 {
    font-size: 20px;
  }
  .not-found .btn-404 {
    width: 100px;
    padding: 3px 0;
    font-size: 12px;
  }
  .not-found .logo {
    margin-top: 30px;
    width: 150px;
    height: 150px;
  }
}

/* ------------------------------------------------------  */
