.navbar-frd {
    position: sticky;
    top: 0px;
    left: 0px;
    min-width: 100%;
    background: #0f2027;
    z-index: 4;
    height: 75px;
    display: flex;
    align-items: center;
    border-bottom: 4px teal solid;
}

.navbar-frd .nav-logo {
    margin-left: 20px;
    text-decoration: none;
}

.navbar-frd .nav-logo span {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

.navbar-frd .nav-logo span:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-frd .nav-logo .nav-logo-img {
    height: 40px;
}

.navbar-frd .hamburger-checkbox {
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: 4;
    margin-left: auto;
    margin-right: 30px;
}

.hamburger-checkbox:checked + .nav-menu {
    transform: scale(1);
}

.hamburger-btn {
    position: fixed;
    padding-top: 5px;
    top: 16px;
    right: 30px;
    height: 40px;
    width: 40px;
    z-index: 4;
    cursor: pointer;
}

.hamburger-btn .bar {
    display: block;
    margin: 5px 0;
    height: 2px;
    background-color: #f4f4f4;
}

.hamburger-btn .bar1 {
    transition: 0.4s all ease;
    margin-left: auto;
    width: 26px;
}

.hamburger-btn .bar2 {
    transition: 0.4s all ease;
    margin-left: auto;
    width: 29px;
}

.hamburger-btn .bar3 {
    transition: 0.4s all ease;
    margin-left: auto;
    width: 20px;
}

.bar3.hidden {
    transform: translateX(80px);
}

.bar1.rotate1 {
    width: 35px;
    transform: rotate(315deg) translate(-7px, 5px);
}

.bar2.rotate2 {
    width: 35px;
    transform: rotate(-315deg) translate(1px, 2px);
}

.nav-menu {
    position: fixed;
    top: -50%;
    left: -50%;
    height: 200vh;
    width: 200vw;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 5;
    transform: scale(0);
    transition: 0.3s ease-in all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-menu a {
    color: #f4f4f4;
    font-weight: 600;
    text-decoration: none;
    font-size: 40px;
    margin-bottom: 50px;
    transition: ease 0.2s all;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-menu a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5),
        0 0 80px rgba(255, 255, 255, 0.5), 0 0 120px rgba(255, 255, 255, 0.5),
        0 0 160px rgba(255, 255, 255, 0.5);
}

.nav-menu .menu-logo {
    height: 150px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
    .nav-menu a {
        font-size: 35px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        top: 0%;
        height: 110vh;
        border-radius: 50px;
        justify-content: flex-start;
        padding-top: 100px;
        flex-direction: column;
    }
}

@media screen and (max-width: 568px) {
    .nav-menu .menu-logo {
        height: 80px;
        margin-bottom: 30px;
    }
    .nav-menu a {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
