
/* ------------------ Products Body ------------------ */
.products-page {
	position: relative;
	/* background-image: url('../img/homeimg.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed; */
}


/* ------------------------------------------------------ */

/* ------------------ Scroll Up Prod Btn ------------------ */

.scroll-products {
	height: 45px;
	width: 45px;
	cursor: pointer;
	position: absolute;
	right: 3%;
	bottom: 1%;
}

/* ------------------------------------------------------ */


/* ------------------ Container + Header + Product Card ------------------ */
.products-container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 1.2rem 2rem;
	position: relative;
}

.main-header {
	font-size: 18px;
	margin-top: 120px;
	margin-bottom: 140px;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1.5rem;
}

.main-header h1 {
	width: 400px;
	font-size: 4em;
	margin-bottom: 2rem;
	line-height: 1.2;
	font-weight: 600;
	color: #0f2027;
}

.main-header h1 span {
	color: rgba(0, 128, 128, 0.8);
}

.main-header p {
	font-size: 22px;
	font-weight: 600;
}

.card-info {
	background: #0f2027;
	background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
	color: #f4f4f4;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display: flex;
	box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.5);
}

#product1 {
	background-image: url(../img/rcos.jpg);
}

#product2 {
	background-image: url(../img/cale.jpg);
}

#product3 {
	background-image: url(../img/bbrg.jpg);
}

#product4 {
	background-image: url(../img/unp.jpg);
}

#product5 {
	background-image: url(../img/cuvf.jpg);
}

#product6 {
	background-image: url(../img/rkr.jpg);
}

#product7 {
	background-image: url(../img/ms.jpg);
}

#product8 {
	background-image: url(../img/cpp.jpg);
}

#product9 {
	background-image: url(../img/cuvpit.jpg);
}

.card-info .img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* object-fit: cover;
	object-position: center; */
	height: 400px;
	max-width: 500px;
}

.card-info h3 {
	margin-bottom: 3rem;
	font-weight: 600;
	font-size: 27px !important;
}

.card-info > div {
	font-size: 16px;
	line-height: 1.8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2em;
	height: 400px;
	width: 550px;
}

.card-info h3 {
	font-size: 25px;
}

.card-cell {
	margin-bottom: 3rem;
}

.card-cell:nth-child(even) .img {
	order: 2;
}

a.btn {
	font-size: 18px;
	color: #0f2027;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background: #e5dfdf;
	padding: 8px 20px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 30px;
	width: 140px;
	transition: all 0.3s ease;
}

a.btn:hover {
	background: #1b262c;
	border: 1px solid white;
	transition: all 0.3s ease;
	color: #f4f4f4;
}

.desc-details-list {
	margin-top: 15px;
}

.desc-details-list .list-arrow {
	margin-right: 8px;
}

.desc-details-list li{
	list-style: none;
	font-size: 14px;
}

h3.rose-cosmina {
	margin-bottom: 5px;
}

.limit-edit-span {
	font-size: 18px;
}

/* ------------------------------------------------------ */

/* ------------------ Grid View ------------------ */

#grid-view, #list-view {
	position: absolute;
	top: 220px;
	right: 50%;
	transform: translate(50%);
	color: rgba(0, 128, 128, 0.8);
	transition: 0.3s ease color;
}

#grid-view:hover, #list-view:hover {
	cursor: pointer;
	color: teal;
	transition: 0.3s ease color;
}

.products-container-grid {
	height: 100%;
	padding-top: 20px;
	padding-bottom: 80px;
	width: 1100px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.grid-card {
	position: relative;
	height: 285px;
	width: 320px;
	background-color: #0f2027;
	justify-self: center;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.75); 
	-moz-box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.75);
	box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.75);
}

.grid-header {
	font-size: 16px; 
	text-align: center;
	color: white;
	padding: 5px 0;
}

.grid-card:hover .grid-layer {
	cursor: pointer;
	transition: 0.25s ease-in background-color;
	background-color: rgba(0,0,0,0.75)
}

.grid-layer {
	z-index: 2;
	position: absolute;
	width: 320px;
	height: 250px;
	transition: 0.25s ease-in background-color;
	background-color: rgba(255,255,255,0);
}

.grid-card:hover .grid-btn {
	pointer-events: all;
	opacity: 1;
	transition: 0.2s ease-in opacity;
}

.grid-btn {
	z-index: 3;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-size: 20px;
	border: 2px solid white;
	padding: 10px 30px;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s ease-in opacity;
}

.grid-btn:hover{
	text-decoration: none;
	color: white;
}

.grid-card .grid-img-wrapper {
	height: 250px;
	width: 320px;
	overflow: hidden;
}

.grid-card:hover .grid-img {
	transition: 0.4s ease-in;
	transform: scale(1.15);
}

.grid-img{
	transition: 0.3s ease-in;
	height: 250px;
	width: 320px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.grid-rcos {
	background-image: url('../img/rcos.jpg');
}

.grid-cale{
	background-image: url('../img/cale.jpg');
}

.grid-bbrg {
	background-image: url('../img/bbrg.jpg');
}

.grid-unchiu {
	background-image: url('../img/unp.jpg');
}

.grid-francisc {
	background-image: url('../img/cuvf.jpg');
}

.grid-pitigaia {
	background-image: url('../img/cuvpit.jpg');
}

.grid-redking {
	background-image: url('../img/rkr.jpg');
}

.grid-misterS {
	background-image: url('../img/ms.jpg');
}

.grid-paul {
	background-image: url('../img/cpp.jpg');
}

/* ------------------------------------------------------ */

/*  TODO: SA NU SE MAI VADA COLTU URAT PUI BORDER LA CARD TOP-RIGHT/LEFT MAI MULT CA LA IMAGINE */
/* ------------------ Media queries ------------------ */

@media (min-width: 966px) and (max-width: 1200px) {
	.products-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.card-cell {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.card-info {
		max-width: 400px;
		margin: 20px;
		-webkit-border-radius: 55px;
		-webkit-border-bottom-right-radius: 25px;
		-webkit-border-bottom-left-radius: 25px;
		-moz-border-radius: 55px;
		-moz-border-radius-bottomright: 25px;
		-moz-border-radius-bottomleft: 25px;
		border-radius: 55px;
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
		-webkit-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
		box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
	}

	.card-cell:nth-child(even) .img {
		order: 0;
	}

	.card-info .img {
		height: 300px;
		max-width: 400px;
		-webkit-border-top-left-radius: 25px;
		-webkit-border-top-right-radius: 25px;
		-moz-border-radius-topleft: 25px;
		-moz-border-radius-topright: 25px;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
	}

	.card-info > div {
		height: 370px;
		max-width: 400px;
		font-size: 14px;
	}

	.card-info {
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
	}
}

@media (max-width: 1200px) {
	#grid-view, #list-view {
		display: none;
	}
	#products-display-grid{
		display: none;
	}
	.scroll-products {
		bottom: -0.3%;
		right: 2%;
	}
	.products-page {
		margin-bottom: 30px;
	}
	.desc-details-list li {
		font-size: 12px;
	}
}

@media (max-width: 965px) {
	.main-header {
		font-size: 15px;
		padding: 15px;
		margin-top: 150px;
	}

	.main-header p {
		width: 400px;
		font-size: 18px;
	}

	.products-container {
		display: grid;
		grid-template-columns: 1fr;
	}

	.card-cell {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.card-info {
		width: 400px;
		margin: 20px;
		-webkit-border-radius: 55px;
		-webkit-border-bottom-right-radius: 25px;
		-webkit-border-bottom-left-radius: 25px;
		-moz-border-radius: 55px;
		-moz-border-radius-bottomright: 25px;
		-moz-border-radius-bottomleft: 25px;
		border-radius: 55px;
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
		box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 10px 32px -4px rgba(0, 0, 0, 0.75);
	}

	.card-cell:nth-child(even) .img {
		order: 0;
	}

	.card-info .img {
		height: 300px;
		max-width: 400px;
		-webkit-border-top-left-radius: 25px;
		-webkit-border-top-right-radius: 25px;
		-moz-border-radius-topleft: 25px;
		-moz-border-radius-topright: 25px;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
	}

	.card-info > div {
		height: 370px;
		max-width: 400px;
		font-size: 14px;
	}

	.card-info {
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
	}
}

@media (max-width: 500px) {
	.desc-details-list li {
		font-size: 10px;
	}
	.main-header {
		margin-top: 110px !important;
		margin-bottom: 50px;
		line-height: 1.5;
	}

	.main-header h1 {
		line-height: 1.1;
		font-size: 48px;
		width: 250px !important;
	}

	.main-header p {
		font-weight: 400;
		font-size: 16px !important;
		width: 270px !important;
	}

	.products-container {
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.card-cell {
		width: 250px !important;
		margin-bottom: 5px !important;
	}

	.card-info .img {
		width: 250px !important;
		height: 230px !important;
	}

	.card-info > div {
		width: 250px !important;
		height: 310px !important;
		font-size: 9px !important;
		font-weight: 400 !important;
	}

	.card-info h3 {
		margin-bottom: 20px !important;
		font-size: 16px !important;
		font-weight: 600 !important;
	}

	a.btn {
		font-size: 11px;
		font-weight: 500;
		padding: 5px 10px;
		width: 90px;
		background-color: rgba(0, 128, 128, 0.8);
		color: white;
	}

	h3.rose-cosmina {
		margin-bottom: 5px !important;
	}

	.limit-edit-span {
		font-size: 11px;
	}
}

/* ------------------------------------------------------ */
