/* ------------------ Product Container ------------------ */
.single-product-container {
  min-height: 95vh;
  display: flex;
}

/* ------------------------------------------------------ */

/* ------------------ Backgrounds ------------------ */

.bg-cosmina {
  background-image: url(../img/bg_cos.svg);
  background-position: center;
  background-size: cover;
}

.bg-unp {
  background-image: url(../img/bg_unp.svg);
  background-position: center;
  background-size: cover;
}

.bg-misterS {
  background-image: url(../img/bg_ms.svg);
  background-position: center;
  background-size: cover;
}

.bg-misterS-limited {
  background-image: url(../img/bg_ladybk.svg);
  background-position: center;
  background-size: cover;
}

.bg-francisc {
  background-image: url(../img/bg_cuvf.svg);
  background-position: center;
  background-size: cover;
}

.bg-cuvpit {
  background-image: url(../img/bg_cuvpit.svg);
  background-position: center;
  background-size: cover;
}

.bg-paulPort {
  background-image: url(../img/bg_cpp.svg);
  background-position: center;
  background-size: cover;
}

.bg-redking {
  background-image: url(../img/bg_rkr.svg);
  background-position: center;
  background-size: cover;
}

.bg-madameS {
  background-image: url(../img/bg_mads.svg);
  background-position: center;
  background-size: cover;
}

.bg-alexandra {
  background-image: url(../img/bg_alx.svg);
  background-position: center;
  background-size: cover;
}

.bg-ladyblack {
  background-image: url(../img/bg_ladybk.svg);
  background-position: center;
  background-size: cover;
}

/* ------------------------------------------------------ */

/* ------------------ Product details ------------------ */

span#grp {
  color: var(--dark-color);
  font-weight: 600;
}

.single-product-image {
  margin-top: 50px;
  width: 500px;
  height: 750px;

  position: relative;
  margin-left: 150px;
}

.single-product-image img {
  margin-top: 10px;
  border-radius: 50px;
  height: 730px;
}

.single-product-desc {
  margin-top: 50px;
  position: relative;
  padding: 25px;
  /* height: 750px; */
  width: 630px;
  margin-left: 50px;
}

.single-product-desc h1 {
  font-weight: bold;
  /* font-style: italic; */
  color: var(--dark-color);
  margin-bottom: 10px;
  font-size: 40px;
}

.single-product-desc .wine-comp-desc .grape-comp {
  margin-right: 8px;
  height: 35px;
}

.single-product-desc .wine-comp-desc {
  color: var(--dark-color);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.wine-comp-desc .grape-spinner {
  margin-right: 5px;
}

.single-product-desc div.text-desc {
  font-weight: 600;
  margin-top: 50px;
  font-size: 16px;
  line-height: 2;
  color: var(--dark-color);
}

.single-product-desc .text-desc ul {
  margin-top: 35px;
}

.single-product-desc .text-desc ul li {
  list-style: none;
}

.swp-list .fa-caret-right {
  color: #0f2027;
  margin-right: 10px;
}

.single-product-image .product-spinner {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 200px;
  width: 200px;
}

.single-product-desc .desc-buttons {
  opacity: 0.85;
  padding-top: 20px;
}

.single-product-desc .desc-btn-left {
  margin-right: 20px;
}

.single-product-desc .desc-btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: var(--light-color);
  padding: 5px 0;
  border-radius: 0px;
  background-color: var(--dark-color);
  border: 2px var(--dark-color) solid;
  width: 100px;
  transition: 0.2s ease-out all;
}

.single-product-desc .desc-btn:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  /* font-weight: 600; */
}

/* ------------------------------------------------------  */

/* ------------------ Media queries ------------------ */

@media (max-width: 1600px) {
  .single-product-image {
    margin-top: 20px;
    width: 300px;
    height: 550px;
    position: relative;
    margin-left: 100px;
  }
  .single-product-image img {
    height: 600px;
  }
  .single-product-desc {
    margin-top: 20px;
    height: 650px;
  }
  .single-product-desc h1 {
    font-size: 22px;
  }
  .single-product-desc .grape-comp {
    height: 25px;
  }

  .single-product-desc div.text-desc,
  .single-product-desc ul {
    font-size: 14px;
  }
}

@media (max-width: 1120px) {
  span#grp {
    font-size: 12px;
    font-style: italic;
  }
  .single-product-image {
    margin-top: 40px;
    width: 200px;
    height: 450px;
    position: relative;
    margin-left: 50px;
  }
  .single-product-image img {
    height: 450px;
  }
  .single-product-desc {
    margin-left: 80px;
    margin-top: 40px;
    height: 550px;
    max-width: 450px;
  }
  .single-product-desc h1 {
    margin-top: 10px;
    font-size: 18px;
  }
  .single-product-desc .grape-comp {
    height: 20px;
  }

  .single-product-desc div.text-desc {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .single-product-desc .text-desc ul {
    margin-top: 10px;
    font-size: 10px;
  }
}

@media (max-width: 920px) {
  .single-product-desc .wine-comp-desc {
    display: none;
  }

  .single-product-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .single-product-image {
    margin-top: 40px;
    width: auto;
    height: 330px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .single-product-image img {
    height: 310px;
    width: auto;
  }

  .single-product-desc {
    height: 550px;
    width: auto;
    padding: 0 40px;
    margin: 20px auto 120px auto;
  }
  .single-product-desc h1 {
    font-size: 18px;
  }
  .single-product-desc .grape-comp {
    height: 25px;
  }

  .single-product-desc div.text-desc {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  .single-product-desc .text-desc ul {
    margin-top: 10px;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .single-product-desc {
    height: 610px;
  }
}

/* ------------------------------------------------------ */
